body{
    font-family: $police-texte;
    box-sizing: border-box;
    margin: 0;
    @include headings(1) {
        font-family: $police-logo-titres;
        font-weight: 500;
        font-size: $size-h1;
    }
    @include headings(){
        margin: auto;
        &.logo{
            font-family: $police-logo-titres;
        }
    }
    main{
        section{
            &:first-of-type{
                text-align: center;
                background-color: $color-section-bg;
            }
        }
    }
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    color: $color-text-standard;
}

ul{
    list-style: none;
}

img{
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
}

.parent-clicable{
    position: relative;
}

.parent-clicable-link{
    display: block;
    z-index: 1;
}

.parent-clicable-link::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
}