footer{
    background-color: $color-footer-bg;
    color: $color-footer-text;
    padding: 25px;

    h2{
        font-size: 19px;
        font-weight: 500;
        text-transform: lowercase;
        margin-bottom: 20px;
    }

    li{
        margin: 5px 0;
        font-size: 16px;
        i {
            width: 20px;
            margin-right: 5px;
        }
        &:nth-child(-n+2){
            font-weight: 500;
        }
    }
}