form{
    &.search-form{
        box-shadow: inset 0 3px 3px darken($color-form-bg, 7%);
        background-color: $color-form-bg;
        height: $hauteur-form;
        fieldset{
            border: none;
            padding: 0;
            margin: auto;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-footer-bg;
            @include responsive($smartphone, $tablette){
                font-size: $size-p;
            }

            label{
                margin-right: 10px;
                font-size: 15px;
                color: inherit;
            }
            input[type=search]{
                color: inherit;
                font-size: inherit;
                font-weight: 500;
                border:inherit;
                height: inherit;
                font-weight: 500;
                background-color: inherit;
                @include responsive($smartphone, $tablette){
                    width: 40%;
                }
                @include responsive($tablette){
                    width: 25%;
                }

                &::placeholder{
                    font-weight: 500;
                }
                &:focus{
                    outline: none;
                    &::placeholder{
                        opacity: 0;
                    }
                }
            }
        }
    }
    &.command-form{
        display: flex;
        justify-content: center;
        margin: 50px 0 0;
        .bouton{
            width: 150px;
            text-align: center;
        }
    }
}